**/node_modules
**/dist
**/.tsbuildinfo
**/.cache
**/.turbo
**/.vite
**/.vitest
**/coverage
**/*.log

.git
.github
.claude

deploy/fabric/bin
deploy/fabric/.fabric-cache
deploy/fabric/crypto-config
deploy/fabric/channel-artifacts
deploy/fabric/config
deploy/fabric/*.tar.gz

chaincode/**/*.tar.gz
chaincode/ovote/chaincode
