<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width" />
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="clir/bower_components/bootstrap/dist/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="clir/styles/main.css" />
        <!-- endbuild -->
    </head>
    <body ng-app="clientApp">
        <!-- Add your site or application content here -->
        <div class="header">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <div class="container">
                        <a class="navbar-brand" href="/">사용자</a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="container">
            <div ng-view=""></div>
        </div>

        <div class="footer">
            <div class="container"></div>
        </div>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
            !(function (A, n, g, u, l, a, r) {
                (A.GoogleAnalyticsObject = l),
                    (A[l] =
                        A[l] ||
                        function () {
                            (A[l].q = A[l].q || []).push(arguments);
                        }),
                    (A[l].l = +new Date()),
                    (a = n.createElement(g)),
                    (r = n.getElementsByTagName(g)[0]),
                    (a.src = u),
                    r.parentNode.insertBefore(a, r);
            })(window, document, "script", "https://www.google-analytics.com/analytics.js", "ga");

            ga("create", "UA-XXXXX-X");
            ga("send", "pageview");
        </script>

        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="clir/bower_components/jquery/dist/jquery.js"></script>
        <script src="clir/bower_components/angular/angular.js"></script>
        <script src="clir/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="clir/bower_components/angular-animate/angular-animate.js"></script>
        <script src="clir/bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="clir/bower_components/angular-resource/angular-resource.js"></script>
        <script src="clir/bower_components/angular-route/angular-route.js"></script>
        <script src="clir/bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="clir/bower_components/angular-touch/angular-touch.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="clir/scripts/app.js"></script>
        <script src="clir/scripts/controllers/votepage.js"></script>
        <script src="clir/scripts/controllers/voteresult.js"></script>
        <script src="clir/scripts/controllers/votelist.js"></script>
        <script src="clir/scripts/services/voteserv.js"></script>
        <!-- endbuild -->
    </body>
</html>
