
<button class="btn btn-outline-primary" ng-click="refresh()">새로고침</button>
<button class="btn btn-outline-primary" ng-click="add('admin/voteManage')">새 투표 생성</button>
<br />
<br />
<table class="table table-striped table-bordered table-hover text-center align-middle ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">투표 이름</th>
            <th scope="col">시작 시간</th>
            <th scope="col">종료 시간</th>
            <th scope="col">상태</th>
            <th scope="col">삭제</th>
            <th scope="col">수정</th>
            <th scope="col">결과</th>
        </tr>
    </thead>
    <tbody>
        <tr  ng-repeat="vote in votes">
            <th scope="row">{{$index}}</td>
            <td >{{vote.name}}</td>
            <td >{{vote.start}}</td>
            <td>{{vote.end}}</td>
            <td ng-if="now < vote.start">시작전</td>
            <td ng-if="now > vote.start && now < vote.end">진행중</td>
            <td ng-if="now > vote.end">종료</td>

            <td><button  class="btn btn-danger btn-sm" ng-click="delete(vote)">삭제</button></td>
            <td>
                <button  class="btn btn-primary btn-sm" ng-click="modify('admin/voteManage', vote)">수정</button>
            </td>
            <td>
                <button class="btn btn-info btn-sm" ng-click="showresult('admin/voteResult', vote)">
                    결과
                </button>
            </td>
        </tr>
    </tbody>
</table>
