<a class="btn btn-primary" ng-href="#!/admin/voteView">목록으로 돌아가기</a>
<span style="float: right">현재 시간 : {{now}}</span> <br /><br />

<div style="border-top: 1px solid #777"></div>
<br />
<form ng-submit="done()">
    <div class="input-group mb-3">
        <span class="input-group-text">투표 이름</span>
        <input
            type="text"
            class="form-control"
            ng-model="vote.name"
            placeholder="{{vote.name}}"
            required
        />
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">투표 설명</span>
        <input
            type="text"
            class="form-control"
            ng-model="vote.description"
            placeholder="{{vote.description}}"
        />
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">제한 나이</span>
        <input
            type="number"
            class="form-control"
            ng-model="vote.ageLimit"
            placeholder="{{vote.ageLimit}}"
            required
        />
        <span class="input-group-text">제한 성별</span>
        <select
            class="form-select"
            ng-model="vote.sexLimit"
            placeholder="{{vote.sexLimit}}"
            required
        >
            <option value="0" selected>제한 없음</option>
            <option value="1">남성만</option>
            <option value="2">여성만</option>
        </select>
        <span class="input-group-text">시작 시간</span>
        <input
            type="datetime-local"
            class="datepicker"
            ng-model="vote.start"
            value="{{vote.start}}"
            required
        />
        <span class="input-group-text">종료 시간</span>
        <input
            type="datetime-local"
            name="endDate"
            ng-model="vote.end"
            value="{{vote.end}}"
            required
        />
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">투표 내용</span>
        <ul class="list-group flex-fill">
            <li class="list-group-item" ng-repeat="(key, data) in contents">
                <div class="input-group">
                    <span class="input-group-text">{{$index +1}}번</span>
                    <input
                        type="text"
                        class="form-control"
                        ng-model="key"
                        value="{{key}}"
                        ng-blur="updateContent(key, $index)"
                    />
                    <button class="btn btn-danger" ng-click="deleteContent(key)">삭제</button>
                </div>
            </li>
        </ul>
    </div>

    <div style="display: flex; justify-content: flex-end">
        <button type="submit" class="btn btn-success">입력 완료</button>
    </div>
</form>
<br />
<div style="border-top: 1px solid #777"></div>
<br />
<form ng-submit="addContent(newContentDes)">
    <div class="input-group mb-3">
        <span class="input-group-text">투표 내용 추가</span>
        <input type="text" class="form-control" ng-model="newContentDes" placeholder="새 내용" />
        <button class="btn btn-primary" type="submit">추가</button>
    </div>
</form>
