<div>
    <button name="verify" ng-click="verify()">검증하기</button>
    <text name="verifyResult" ng-model="verifyResult"></text>
</div>
<br />
<button name="refreshList" ng-click="refresh()">새로고침</button>
<button name="createVote" ng-click="add('admin/voteManage')">생성</button>
<br />
<br />
<table border="1px" style="width: 90%">
    <tr>
        <th>투표 이름</th>
        <th>시작 시간</th>
        <th>종료 시간</th>
        <th>상태</th>
        <th>삭제</th>
        <th>수정</th>
        <th>결과</th>
    </tr>
    <tr ng-repeat="vote in votes">
        <td>{{vote.name}}</td>
        <td>{{vote.start}}</td>
        <td>{{vote.end}}</td>
        <td>{{status}}</td>

        <td><button type="button" ng-click="delete(vote)">삭제</button></td>
        <td>
            <button name="modifyVote" ng-click="changeView('admin/voteManage', vote)">수정</button>
        </td>
        <td>
            <button name="voteResult" ng-click="changeView('admin/voteResult', vote)">결과</button>
        </td>
    </tr>
</table>
